/* Main css for page */

h1 {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 20px;
  /* font-family: 'Titillium Web', sans-serif; */
  /* font-family: Roboto; */
  /* font-family: 'Shadows Into Light', cursive; */
  font-weight: 100;

}

p {
  font-size: 18px;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 200px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 10vmin);
  color: white;
  flex-wrap: wrap;
}

.title {
    text-align: center;
    width: 100%;
    /* Auto adjust font-size to window */
    font-size: calc(10px + 4vmin);
}

.main-menu {
  align-self: flex-end;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.main-menu a > button {
  border: none;
  background: none;
  color: white;
  font-size: 20px;
  outline: none;
    margin: 10px;
}


.component-wrapper {
  height: 100vh;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ScrollUpButton__Container {
  background-color: white !important;
  outline: none;
}

.title>img {
    width: 600px;
    height: 350px;
    border-radius: 8px;
  }


  /* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
 
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}
 
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgb(84, 229, 255)
}
 
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
 
/* Color/shape of close button cross */
.bm-cross {
  background: white;
}
 
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
 
/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
  width: 100%;
}
 
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
 
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
 
/* Individual item */
.bm-item {
  display: inline-block;
}
 
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
